@media only screen
and (max-width : 1300px) {

    .bnr_intro { width: 38%; }

}

@media only screen and (max-width: 1100px) {

    .bnr_intro { width: 35%; }    
  
}


@media only screen and (max-width: 1000px) {
    #contact{padding: 0 15px 20px;}
    .bnr_box{min-height: 0;}
    .bnr_intro{max-width: 100%; width: 100%; text-align: center;}
    .bnr_img{display: none;}
    .bnr_intro a{margin: 20px auto 0;}

}

@media only screen and (max-width: 800px){
    .bnr_intro h2 { font-size: 35px; }
    .mid_intro h2 { font-size: 25px; }
    #contact h2 { font-size: 25px; }
}

@media only screen and (max-width: 500px) {
    .logo img{width: 120px;}
}